name: Workflow Cleanup

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *" # daily at 02:00 UTC

permissions:
  contents: read
  actions: write

jobs:
  build:
    name: Workflow Cleanup
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Workflow Cleanup
        uses: fgrzl/actions/workflow-cleanup@v0.0.5
