name: Version

on:
  workflow_dispatch:

permissions:
  contents: write
  packages: read

jobs:
  version:
    name: Version
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout Full History
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.1.0

      - name: Calculate Version
        id: version
        uses: gittools/actions/gitversion/execute@v4.1.0
